body{
    direction: rtl;
}
.form-title-container , .response-column{
    background : #5bbef7;
    color : #fff;
}
.item{
    border : 1px solid #000!important;
}
.item hr{
    margin : .3rem 0;
}
hr{
    margin : .3rem 0;
}
.factor-item-row{
    border : 1px solid #000!important;
}
.g-recaptcha > div{
    margin : 0 auto;
}
a{
    text-decoration: none;
    color : #5bbef7;
}
